<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/frontend/css/jsgrid.min.css">
    <link rel="stylesheet" href="/frontend/css/jsgrid-theme.min.css">
    <title>Страны</title>
</head>
<body>
<h1>Справочник стран:</h1>
<div id="jsGridCountries"></div>
<a href="/Main/index">Главная</a>

<script src="/frontend/js/jquery-3.3.1.min.js"></script>
<script src="/frontend/js/jsgrid.js"></script>
<script src="/frontend/js/jsgrid.min.js"></script>
<script src="/frontend/js/referensBooks/countriesOptionGrid.js"></script>
</body>
</html>